---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@import "minimal-mistakes"; // main partials

        .mysidebar {
        @include clearfix();
        // @include breakpoint(max-width $large) {
        //   /* fix z-index order of follow links */
        //   position: relative;
        //   z-index: 10;
        //   -webkit-transform: translate3d(0, 0, 0);
        //   transform: translate3d(0, 0, 0);
        // }

        @include breakpoint($large) {
            float: left;
            width: calc(#{$right-sidebar-width-narrow} - 3em);
            opacity: 0.75;
            -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

            &:hover {
            opacity: 1;
            }

            &.sticky {
            overflow-y: auto;
            /* calculate height of nav list
                viewport height - nav height - masthead x-padding
            */
            max-height: calc(100vh - #{$nav-height} - 2em);
            }
        }

        @include breakpoint($x-large) {
            width: calc(#{$right-sidebar-width} - 3em);
        }

        > * {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        }

        .exampl {
        display: block;
        margin: 20px 0 40px 0;
        font-style: italic;
        background-color: AntiqueWhite;
        border-left: 6px solid;
        border-color: BurlyWood;
        padding:10px 10px 10px 20px;
        }
        .exampl:before {
            content: "Example: " attr(btit) ".";
            display: block;
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
        }

        .proposition {
            display: block;
            margin: 20px 0 40px 0;
            font-style: italic;
            background-color: Lavender;
            border-left: 6px solid;
            border-color: DarkGrey;
            padding:10px 10px 10px 20px;
        }
        .proposition:before {
            content: "Proposition: " attr(btit) ". " ;
            display: block;
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
        }
     /*   .proposition:after {
            content: "#REF:    "  attr(blab);
            text-align: right;
            float:right;
            font-style: italic;
            background-color:   #ecdfec;
            color: Tomato;
            border-right: 6px solid;
            border-color:    #b181b1;
            padding: 5px 15px 5px 15px;
        }
*/
        .remark {
            display: block;
            margin: 20px 0 40px 0;
            font-style: italic;
            background-color:  #cefdce;
            border-left: 6px solid;
            border-color: DarkGreen;
            padding:10px 10px 10px 20px
        }
        .remark:before {
            content: "Remark: " attr(btit) ". ";
            display: block;
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
        }
       /* .remark:after {
            content: "#REF:    "  attr(blab);
            text-align: right;
            float:right;
            font-style: italic;
            background-color:   #ecdfec;
            color: Tomato;
            border-right: 6px solid;
            border-color:    #b181b1;
            padding: 5px 15px 5px 15px;
        }*/

        .theorem {
            display: block;
            margin: 20px 0 40px 0;
            font-style: italic;
            background-color: LemonChiffon;
            border-left: 6px solid;
            border-color: Tomato;
            padding:10px 10px 10px 20px;
        }
        .theorem:before {
            content: "Theorem: "  attr(btit) ". ";
            display: block;
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
        }
/*
        .theorem:after {
            content: "#REF:    "  attr(blab);
            text-align: right;
            float:right;
            font-style: italic;
            background-color:   #ecdfec;
            color: Tomato;
            border-right: 6px solid;
            border-color:    #b181b1;
            padding: 5px 15px 5px 15px;
        }*/

        .lemma {
            display: block;
            margin: 20px 0 40px 0;
            font-style: italic;
            background-color: Lavender;
            border-left: 6px solid;
            border-color: DarkGrey;
            padding:10px 10px 10px 20px;
        }
        .lemma:before {
            content: "Lemma: " attr(btit) ". ";
            display: block;
            font-weight: bold;
            font-style: normal;
        }
        /*.lemma:after {
            content: "#REF:    "  attr(blab);
            text-align: right;
            float:right;
            font-style: italic;
            background-color:   #ecdfec;
            color: Tomato;
            border-right: 6px solid;
            border-color:    #b181b1;
            padding: 5px 15px 5px 15px;
        }*/
        .proof {
            display: block;
            margin: 20px 0 0 30px;
            font-style: normal;
            padding:10px 10px 10px 30px;
            border-left: 6px solid;
            border-color: DarkGrey;
        }
        .proof:before {
            content: "Proof:";
            display: block;
            font-style: italic;
        }
        .proof:after {
            content: "\25FC";
            float:right;
        }

        .definition {
            display: block;
            margin: 20px 0 40px 0;
            font-style: normal;
            background-color: LightCyan;
            border-left: 6px solid;
            border-color: DarkCyan;
            padding:10px 20px 10px 20px;
        }
        .definition:before {
            content: "Definition.";
            font-weight: bold;
            font-style: normal;
        }

        .info {
            display: block;
            margin: 20px 0 40px 0;
            font-style: italic;
            background-color: #ffd9e6;
            border-left: 6px solid;
            border-color: #c19bba;
            padding:10px 20px 10px 20px;
        }
        .info:before {
            content: "Info.";
            font-weight: bold;
            font-style: normal;
        }

        .attention {
            display: block;
            margin: 20px 0 40px 0;
            font-style: italic;
            background-color: #ffd9e6;
            border-left: 6px solid;
            border-color: #c19bba;
            padding:10px 20px 10px 20px;
        }
        .attention:before {
            content: "" attr(btit) "";
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
        }



        .mytoc__menu {
          margin: 0;
          padding: 0;
          width: 100%;
          list-style: none;
          font-size: $type-size-6;
          /*font-size: $type-size-6;*/

          @include breakpoint($large) {
            font-size: $type-size-7;
            /*font-size: $type-size-7;*/
          }

          a {
            display: block;
            /*padding: 0.05rem 0.75rem;*/
            padding: 0.25rem 0.75rem;
            color: $muted-text-color;
            font-weight: bold;
            line-height: 1.5;
            border-bottom: 1px solid $border-color;

            &:hover {
              color: $text-color;
            }
          }

          li ul > li a {
            padding-left: 1.25rem;
            font-weight: normal;
          }

          li ul li ul > li a {
            padding-left: 1.75rem;
          }

          li ul li ul li ul > li a {
            padding-left: 2.25rem;
          }

          li ul li ul li ul li ul > li a {
            padding-left: 2.75rem;
          }

          li ul li ul li ul li ul li ul > li a {
            padding-left: 3.25rem
          }
        }

